@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-secondary: #f43f5e;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a;
  color: #f8fafc;
}
